<head>
    <link rel="stylesheet" type="text/css" 
                            href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    {% if name != session['username'] %}
    <h2>Something gone wrong. Try to Sign In / Sign Up</h2>
    <a href={{ url_for('index') }}>Home Page</a>
    {% endif %}

    {% if name == session['username'] %}
    
    <a href={{ url_for('logout') }}>Log Out</a>
    <h2>Hello, {{ name }}!</h2>

    {% for task in tasks %}
    <div id="tasks_wrapper">
        <div class="task-heading">{{ task[2] }}</div>
        <div class="task-description">{{ task[3] }}</div>
        <div class="task-date">
            <div class="date-start">{{ task[4] }}</div>
            {% if task[5] %}
            <div class="date-end">{{ task[5] }}</div>
            {% endif %}
        </div>
        <div class="task-buttons">
            
        </div>
    </div>
    {% endfor %}
    
    <form method="POST">
        <label>Title</label>
        <input type="text" name="title" maxlength="40" required>
        <label>Description</label>
        <input type="text" name="content">
        <label>Done before</label>
        <input type="date" name="end_date">
        <input type="submit" value="Add Task!">
    </form>
    {% endif %}
</body>